{% extends "y/layout.html" %}

{% block body %}
  <input id="pageInt" type="hidden" value="{{page}}">
  <input id="username" type="hidden" value="{{username}}">
  <div style="background-color: white; border: 1px solid cornsilk; border-radius: 10px; padding: 15px 30px; margin-top: 20px;">
    <div style="display: flex; align-items: center;">
      <h1 style="display: inline-block;">{{userData.username}}</h1>
      {% if not selfPage %}
        {% if user.is_authenticated %}
          <form method="post" action="">
            {% csrf_token %}
            <input 
              style="display: inline-block; margin-left: 30px;" 
              type="submit" 
              value="{% if isFollowed %}Un-Follow{% else %}Follow{% endif %}" 
              name="{% if isFollowed %}unfollow{% else %}follow{% endif %}"
            >
          </form>
        {% endif %}
      {% endif %}
      <div style="margin-left: 30px;">Followers: {{followerAmount}}</div>
      <div style="margin-left: 30px;">Following: {{followingAmount}}</div>
    </div>

    <div id="feed"></div>
    <script>
      function main() {
        // fetch feed and populate page
        const page = document.querySelector("#pageInt").value;
        const username = document.querySelector("#username").value;
        console.log(username)
        fetchFeedAndPopulate("user", page, username);
      }
      document.addEventListener("DOMContentLoaded", main);
    </script>
  </div>
{% endblock %}